label {
  display: block;
}

.explorer {
  align-items: left;
  padding: 10px;
}

.searchBox {
  margin: 10px 10px;
  padding: 10px;
}

.check {
  position: relative;
  padding: 3px;
}

.submitButton {
  /* Pointer/hand icon */
  position: relative;
  width: 200px;
  height: 41px;
  margin: 10px 10px;
  padding: 10px 24px;
  background: #fff;

  /* Some padding */
  cursor: pointer;
}

.resultBox {
  height: 400px;
  overflow-y: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.resultBox::-webkit-scrollbar {
  display: none;
}
