.toggle-switch-checkbox {
  visibility: hidden;
  width: 0;
  height: 0;
}

.toggle-switch-label {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 50px;
  transition: background-color 0.2s;
  border-radius: 100px;
  background: grey;
  cursor: pointer;
}

.toggle-switch-label .toggle-switch-button {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 45px;
  height: 45px;
  transition: 0.2s;
  border-radius: 45px;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.toggle-switch-label:active .toggle-switch-button {
  width: 60px;
}

.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}
