* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 0;
}

.main {
  padding: 0 10px;
  margin-left: 417px; /* Same as the width of the sidenav */
}

#openedSidebar {
  margin-left: 417px; /* Same as the width of the sidenav */
}

#closedSidebar {
  margin-left: 50px;
}

h1 {
  position: relative;
  margin: 20px;
  font-size: 2.5rem;
  font-weight: bold;
  color: #175578;
  text-align: center;
}

h2 {
  position: relative;
  font-size: 1.8rem;
  color: #000;
  text-align: center;
}

h3 {
  position: relative;
  font-size: 1.2rem;
  color: #000;
  text-align: center;
}
