.classlink{
    position: relative;

    word-wrap: break-word;
    width: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
}

.classlinkbox{
    width: 330px;
}

.classlist{
    position: relative;
    left: 10%;
    list-style-type: none;
}