.classlink{
    position: relative;
    top: -150px;
    word-wrap: break-word;
    width: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;

    color: #000000;
}

.classlinkbox{
    width: 330px;
}