.navListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navButton {
  width: 60%;
  margin-top: 10px;
  padding: 0 20px;
  border-width: 2px;
  border-style: none;
  border-style: dotted;
  border-color: #809aa8;
  color: #175578;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.navButton:hover {
  font-weight: 900;
}
