* {
  box-sizing: border-box;
  margin: 0 0;
  padding: 0;
}

.main {
  padding: 0 10px;
}

#openedSidebar {
  margin-left: 417px; /* Same as the width of the sidenav */
}

#closedSidebar {
  margin-left: 50px;
}

h1 {
  position: relative;
  margin-top: 20px;
  color: #175578;
  font-size: 48px;
  font-weight: bold;
  line-height: 56px;
  text-align: center;
}

h2 {
  position: relative;
  color: #000;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}
