.backToCategoriesBtn {
  padding: 10px 24px;

  /* Some padding */
  cursor: pointer;

  /* Pointer/hand icon */
  position: relative;
  margin: 20px 10px;
  width: 40%;
  height: 41px;
  left: 11px;
  top: 80%;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}
