.backToCategoriesBtn {
  /* Pointer/hand icon */
  position: relative;
  top: 80%;
  left: 11px;
  width: 40%;
  height: 41px;
  padding: 10px 24px;
  margin: 20px 10px;

  /* Some padding */
  cursor: pointer;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}
