.methodList {
  position: relative;
  left: 14%;
  list-style-type: none;
}

.LinkText {
  position: relative;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.LinkText:hover {
  color: #cfcfcf;
}

li {
  position: relative;
}
