
.backButton {
    padding: 10px 24px;
    /* Some padding */
    cursor: pointer;
    /* Pointer/hand icon */
    position: relative;
    margin: 20px 10px;
    width: 40%;
    height: 41px;
    left: 11px;
    top: 80%;

    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.btn-group button:not(:last-child) {
    border-bottom: none;
    /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #ffffff;
}

.barClose {
    position: relative;
    top: -3px;
    left: -2px;
    width: 36px;
    height: 36px;
    border: 0;
    background: url("../../../ressources/images/barClose.png");
}

.closeButton {
    margin-right: 20px;
    margin-bottom: 30px;
    margin-top: 22px;
    height: 36px;
    width: 36px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    float: right;

}

.sidebarHeading {
    position: relative;
    left: 5%;
    font-size: 1.5rem;
    margin-top: 10px;
    color: #FFFFFF;
}

.sidebarHeadingLink {
    text-decoration: none;
    color: #FFFFFF;
}

.sidebarMethodHeading2 {
    position: relative;
    left: 5%;
    font-size: 1.3rem;
    margin-top: 10px;
    color: #FFFFFF;
}

.sidebar {
    height: 100%;
    width: 417px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #175578;
}

.linktext {
    position: relative;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}

.linktext:hover {
    color: #cfcfcf;
}

.navlinktext {
    position: relative;
    left: 10%;
    font-size: 1.2rem;
    text-decoration: none;
    margin: 5px;
    color: #FFFFFF;
}

.navlinktext:hover {
    color: #cfcfcf;
}

.ClassMethodList {
    position: relative;
    left: 14%;
    list-style-type: none;
}

.InstanceMethodList {
    position: relative;
    left: 14%;
    list-style-type: none;
}

li {
    position: relative;
}