* {
    box-sizing: border-box;
    margin: 0 0;
    padding: 0;
}

.frame{
    text-align: center;


}

.heading{
    position: relative;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    font-weight: bold;
    margin-top: 10%;
    color: #175578;
}

.description {
    margin-top: 20px;
    position: relative;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    color: #000000;
}

.enterbutton{
    margin-top: 100px;
    display: inline-block;
    color: #FFFFFF;
    padding: 10px;
    border-color: #175578;
    border-width: 3px;
    border-style: solid;
}

.enterLink{
    position: relative;
    word-wrap: break-word;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
}

.enterbutton:hover{
    background: #f1f1f1;
    color: #175578;
}






