* {
    box-sizing: border-box;
    margin: 0 0;
    padding: 0;
}

#bigBox {

    display: flex;
    flex-direction: row;
}
h1{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #175578;
}
h2{
    position: absolute;
    left: 50%;
    top: 12%;
    transform: translateX(-50%);

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}

.text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}

/* sidebar */

.classBox {

    margin: 0 0;
}

.sidebarBox{
    position: sticky;
    width: 417px;


    background: #175578;
}
.categorybuttons{
    position: relative;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    border: none;
    background: none;

    color: #FFFFFF;
}
li{
    position: relative;
    left: 10%;
    top: 150px;
    list-style-type: none;
}
.sidebarHeading{
    position: absolute;
    left: 58%;
    top: 26px;

    transform: translateX(-50%);

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;


}
.sidebarHeading2{
    position: absolute;

    top: 150px;
    left: 10%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    color: #FFFFFF;
}

.logo{
    position: relative;
    width: 90px;
    height: 63px;
    left: 43px;
    top: 23px;
    border: 0;
    background: url("../../ressources/images/logo.png");

}
#logobox{
    width: 90px;
    height: 63px;
}
.buttonBack{
    position: absolute;
    width: 36px;
    height: 36px;
    left: 85%;
    top: 38px;

    background: #FFFFFF;

}
.closeButton{
    position: relative;
    left: 22.49%;
    right: 76.44%;
    top: 5.95%;
    bottom: 91.96%;

    background: #000000;
    transform: rotate(-180deg);
}

ch1{
    position: relative;
    left: 10%;
    top: 100px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    color: #FFFFFF;
}