.classLink {
  position: relative;
  width: 10px;
  padding: 5px;
  font-size: 1.1rem;
  color: inherit;
  text-align: center;
  text-decoration: none;
  word-wrap: break-word;
}

.classLinkBox {
  width: 300px;
  color: #fff;
}

.classLinkBox:hover {
  padding-left: 10px;
  color: #175578;
  background: #f1f1f1;
}

.classList {
  position: relative;
  left: 5%;
  list-style-type: none;
}
