.classlink{
    position: relative;
    word-wrap: break-word;
    width: 10px;
    font-size: 1.1rem;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}

.classlinkbox{
    width: 300px;
    color: #FFFFFF;
}

.classlinkbox:hover {
    background: #f1f1f1;
    padding-left: 10px;
    color: #175578;
}

.classlink {
    color: inherit;
}

.classlist{
    position: relative;
    left: 5%;
    list-style-type: none;
}