.logo {
    position: relative;
    width: 90px;
    height: 63px;
    margin: 5px;
    margin-left: 20px;
}
.sidebarHeadingHead{
    position: relative;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    color: #FFFFFF;


}
.closeButton{
    margin-left: 20px;
    margin-bottom: 30px;
    margin-top: 22px;
    height: 36px;
    width: 36px;
    background: #FFFFFF;
}

.barClose {
    position: relative;
    top: -3px;
    left: -2px;
    width: 36px;
    height: 36px;
}

.head{
    position: relative;
    height: 90px;
    display: flex;
    align-items: row;
}